img{
    width: 350px;
    max-width: 120%;
    padding: auto;
}
.container{
    max-width: 100%;
}
#imagen-aldea{
    max-width: 150%;
    padding: auto;
}
#imagen-aldea-2{
    max-width: 150%;
    padding-bottom: 20px;
}
#imagen-redes{
    max-width: 20%;
    padding: 20px;

}

#en{
    max-width: 20%;
    padding: 20px;

}
#es{
    max-width: 20%;
    padding: 20px;

}

#imagen-redes:hover{
    max-width: 20%;
    padding-left: 20px;
    background-color:white ;

}

 #imagen-fantasma {
    opacity : 100;
    transition: opacity 2s;
  }
  
  #imagen-fantasma:hover {
    opacity:0; 
  }

  
  #imagen-caballero:hover {
    transform: translate(0,-20px);
    -webkit-transform: translate(0,-20px);
    -o-transform: translate(0,-20px); 
    -moz-transform: translate(0,-20px);
}
 
#imagen-chuck:hover {
    transform: translate(0,-20px);
    -webkit-transform: translate(0,-20px);
    -o-transform: translate(0,-20px); 
    -moz-transform: translate(0,-20px);
}
 
#imagen-mago:hover {
    transform: translate(0,-20px);
    -webkit-transform: translate(0,-20px);
    -o-transform: translate(0,-20px); 
    -moz-transform: translate(0,-20px);
}

.es{
    color:black;
    padding-right: 10px;
    padding-left: 50px;

}
.cat{
    color:black;
    padding-left: 10px;
}

.check{
    position: relative;
    width: 50px;
}
.check::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}
.check::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}
.check:checked::after{
    left: 25px;
    border: 2px solid yellow;
}
.check:checked::before{
    background: red;
}





